/* Set the default fonts for the site */
:root {
    --sl-font: "Inter Variable", -apple-system, BlinkMacSystemFont, sans-serif;
    --sl-font-mono: "JetBrains Mono Variable", monospace;
}

/* Add border radius to code elements */
code {
    border-radius: 4px;
}

/* Add border radius to card elements */
.card {
    border-radius: 12px;
}

/* Make splash page title use monospace font */
h1[data-page-title] {
    font-family: var(--sl-font-mono);
    font-weight: 700;
}

/* Make navbar title use monospace font */
.site-title span {
    font-family: var(--sl-font-mono);
    font-weight: 750;
    letter-spacing: 0.1em;
}

/* Hide navbar title on the splash page */
[data-has-hero] .site-title span {
    display: none;
}

/* Remove the navbar background color on the splash page */
[data-has-hero] .header {
    background-color: transparent;
    border-bottom: none;
}
