:root {
  --sl-font: "Inter Variable", -apple-system, BlinkMacSystemFont, sans-serif;
  --sl-font-mono: "JetBrains Mono Variable", monospace;
}

/* Make splash page title use monospace font */
h1[data-page-title] {
    font-family: var(--sl-font-mono);
    font-weight: 700;
}

/* Make navbar title use monospace font */
.site-title span {
    font-family: var(--sl-font-mono);
    font-weight: 700;
}
